.hover-label {
    font-family: Arial, sans-serif;
    font-size: 12px;
    fill: black; /* Cor do texto */
    font-weight: bold;
}

body{
    text-align: center;
    font-family: "Poppins", sans-serif;
}

h1{
    font-size: 36px;
}

label{
    font-size: 24px;
}

#dataColumn, #numPages {
    font-size: 20px;
}

.numPages{
    margin-left: 15px;
}
