<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico de Barras</title>
    <link rel="stylesheet" href="/src/app/static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet"> 
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="../scripts/barras.js"></script>
</head>
<body>
    <h1>Gráfico de Barras de Dados da NBA</h1>
    <div>
        <label for="dataColumn">Estatística:</label>
        <select id="dataColumn">
            <option value="Salary">Salário</option>
            <option value="PTS">Pontos por Jogo</option>
            <option value="FG">Cestas por Jogo</option>
            <option value="FGA">Tentativas de Cestas</option>
            <option value="3P">Cestas de 3 Pontos</option>
            <option value="3PA">Tentativas de 3 Pontos</option>
            <option value="2P">Cestas de 2 Pontos</option>
            <option value="2PA">Tentativas de 2 Pontos</option>
            <option value="FT">Lances Livres Convertidos</option>
            <option value="FTA">Tentativas de Lances Livres</option>
            <option value="TRB">Total de Rebotes</option>
            <option value="AST">Assistências</option>
            <option value="STL">Roubos de Bola</option>
            <option value="BLK">Bloqueios</option>
            <option value="MP">Minutos por Jogo</option>

            <!-- <option value="TOV">Turnovers</option>
            <option value="ORB">Rebotes Ofensivos</option>
            <option value="DRB">Rebotes Defensivos</option>
            <option value="FT%">% de Acerto de Lances Livres</option>
            <option value="FG%">% de Acerto de Cestas</option>
            <option value="3P%">% de Acerto de 3 Pontos</option>
            <option value="2P%">% de Acerto de 2 Pontos</option>
            <option value="GP">Jogos Jogados</option>
            <option value="TotalMinutes">Minutos Totais</option> -->
        </select>
            <label for="numPages" class="numPages">Página:</label>
            <input type="number" id="numPages" min="1" step="1" value="1" max="38" size="5px">
    </div>
    <div id="chart"></div>

</body>
</html>
