<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D3.js Salary Chart from CSV</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
  </head>
  <body>
    <h1>Concentração de salários: jogadores para somar 1 bilhão</h1>
    <div class="sidebar">
      <ul>
        <li><a href="index.html">Index</a></li>
        <li><a href="barras.html">Barras</a></li>
        <li><a href="dispersao.html">Dispersão</a></li>
        <li><a href="rebotes_time.html">Rebotes</a></li>
        <li><a href="idade_media.html">Idade</a></li>
        <li><a href="bilhao.html">Bilhão</a></li>
      </ul>
    </div>

<script src="../scripts/bilhao.js" ></script>
</body>
</html>
