<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico de Dispersão</title>
    <link rel="stylesheet" type="text/css" href="/src/app/static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="/src/app/scripts/dispersao.js"></script>
</head>
<body>
    <h1>Salário x Cestas por jogo</h1>
    <div id="chart"></div>
</body>
</html>
