<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Gráficos</title>
</head>
<body>
    <h1>Escolha um Gráfico</h1>
    <ul>
        <li><a href="barras.html">Gráfico de Barras de Dados da NBA</a></li>
        <li><a href="dispersao.html">Gráfico de Dispersão - Salário x Cestas por jogo</a></li>
        <li><a href="idade_media.html">Gráfico de Dispersão - Idade x Média de pontos</a></li>
        <li><a href="media_posicao.html">Gráfico de barras - Posição x Média de pontos</a></li>
        <li><a href="pontos_lanceLivre.html">Gráfico de pizza - TOP 10 - Percentual de Pontos a partir de Lances Livres por Jogador</a></li>
        <li><a href="rebotes_time.html">Gráfico de barras - Top 20 - Total de Rebotes (TRB) por Time</a></li>

    </ul>
</body>
</html>
