<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico de Barras Agrupadas</title>
    <link rel="stylesheet" type="text/css" href="/graphs/app/static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>
<body>
    <h1>Posição x Média de pontos</h1>
<div id="chart"></div>
<script src="/graphs/app/scripts/media_posicao.js"></script>


</body>
</html>
