<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 20 - Total de Rebotes (TRB) por Time</title>
    <link rel="stylesheet" type="text/css" href="/graphs/app/static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="/graphs/app/scripts/rebotes_time.js"></script>
    <link rel="stylesheet" href="/graphs/app/static/styles.css">
</head>
<body>
    
    <div class="sidebar">
        <ul>
            <li><a href="index.html">Index</a></li>
            <li><a href="barras.html">Barras</a></li>
            <li><a href="dispersao.html">Dispersão</a></li>
            <li><a href="rebotes_time.html">Rebotes</a></li>
            <li><a href="idade_media.html">Idade</a></li>
            <li><a href="bilhao.html">Bilhão</a></li>
        </ul>
      </div>
    <div class="content">
        <h1>Perfil de Rebotes: Soma das Médias dos Jogadores por Equipe</h1>
        <div id="chart"></div>
    </div>
    
</body>
</html>
